:root {
  --color-background-header: rgb(0, 77, 144);
  --color-text-header: rgb(255, 255, 255);
  --color-text-body: rgb(0, 0, 0);
  --color-text-body-dark: rgb(255, 255, 255);
  --font-size-header: 24px;
  --padding-header: 1em;
  --padding-body: 4em;
  --margin-header: auto;
  --font-family: "Arvo", serif;
  --text-align-header: center;
  --color-background-body: rgb(200, 223, 232);
  --color-background-body-dark: rgb(13, 12, 16);
  --color-link: rgb(0, 42, 132);
  --color-link-visited: rgb(0, 136, 255);
}

.dark-mode {
  --color-background-body: var(--color-background-body-dark);
  --color-text-body: var(--color-text-body-dark);
}
